body {
  margin: 0;
  padding: 0;
  font-family: "Teko", sans-serif;
}

#main {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

h2 {
  width: fit-content;
}

#map_graph {
  margin: 2vw 0vw 4vw;
  padding: 0vw 2vw;
  display: flex;
  flex-direction: row;
  height: 500px; /* Full viewport height */
}

#map,
#graph_and_info {
  flex: 1;
  position: relative;
}

#graph_and_info {
  margin-left: 7vw;
  padding: 0vw 1vw;
  border: 1px solid rgb(159, 159, 159);
  border-radius: 16px;
  box-shadow: 10px 10px 5px lightgray;
  align-items: center;
}

#map svg {
  /*tooltip*/
  width: fit-content;
  height: fit-content;
  position: absolute;
  top: 0;
  left: 0;
}

#full_graphs {
  margin-top: 2vw;
  display: flex;
  flex-direction: row;
  width: 98vw;
  height: fit-content;
  justify-content: space-around;
}

#airports_full,
#crossings_full {
  min-width: 0;
  min-height: 0;
}

.tooltip {
  background-color: white;
  width: fit-content;
  border: solid 1px #ccc;
  padding: 10px;
  border-radius: 5px;
}

#graph_and_info {
  display: flex;
  flex-direction: column;
}

#info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  width: fit-content;
}

li {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
}

.info_value {
  margin-right: 1.5vw;
}

.info_name {
  font-weight: bold;
}

p {
  margin: 0;
  margin-bottom: 1vw;
}

#pick_entryPoint {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.graph-tooltip {
  position: absolute;
  background-color: white;
  border: 1px solid #ccc;
  padding: 5px;
  opacity: 0;
  pointer-events: none;
}

#specificDropdown {
  width: 10vw;
}

header {
  display: flex;
  align-items: center;
  background-color: rgb(74, 173, 255);
  height: 2vw;
  margin-bottom: 2vw;
  padding: 2vw;
}

h1 {
  margin: 0;
  font-size: 3.5vw;
}

#main_h1 {
  color: white;
}

select {
  margin: 0vw 1vw;
  padding: 0;
  font-family: "Teko", sans-serif;
  font-size: 1.1vw;
}

#mg_title {
  align-self: center;
}

#intro {
  padding: 0vw 2vw;
}

#full_graphs_intro {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#full_graphs_h2 {
  font-size: 2.5vw;
  margin-bottom: 0.5vw;
  color: white;
}

#secondary {
  display: flex;
  flex-direction: column;
  background-color: rgb(74, 173, 255);
}

#airports_full {
  margin-left: 1vw;
  margin-bottom: 2vw;
  padding: 0.5vw;
  background-color: white;
  border: 1px solid rgb(159, 159, 159);
  border-radius: 16px;
}

#crossings_full {
  margin-bottom: 2vw;
  padding: 0.5vw;
  background-color: white;
  border: 1px solid rgb(159, 159, 159);
  border-radius: 16px;
}

.white_p {
  color: white;
  font-size: 2vw;
}

#explanation_text,
#explanation_title {
  color: white;
}

#explanation_title {
  align-self: center;
}

#explanation_text {
  font-size: 1.5vw;
}

#explanations {
  display: flex;
  flex-direction: column;
  margin: 0vw 2vw 2vw 2vw;
}

footer {
  background-color: rgb(74, 173, 255);
  width: 100%;
}

#footer_text{
  display: flex;
  padding: 4vw;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  background-color: rgb(66, 66, 66);
  border-top-left-radius: 24px;
  border-top-right-radius: 24px;
}

.footer_p{
  color: white;
  font-size: 2vw;
  margin: 0;
}

#socials{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#linkedIn{
  height: 16px;
  width: 16px;
  margin-left: 0.5vw;
}

#gitHub{
  height: 16px;
  margin-right: 0.5vw;
}

#madeby{
  display: flex;
  flex-direction: column;
  align-items: center;
}


